*{
    margin:0;
    padding: 0;
}

.homepage
{
    width:100%;
    height:100vh;
    background-image: url("./../images/news3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1.0;
}
.welcome
{
    font-size: 30px;
    text-align: left;
    text-transform: uppercase;
    color:#4682B4;
    padding:30px 0px 0px 20px;
    text-shadow: 3px 4px 5px black;
}
.wrapper-box div:hover
{
    transform:scale(1.1);
    transition: transform 300ms ease-in;
}
.the-hindu
{
   height:230px;
   width:300px;
   font-size: 20px;
   display:flex;
   align-items: center;
   justify-content: center;
   background-image: url("./../images/news16.png");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   opacity:1.0;
   border-radius: 50%;
   box-shadow:5px 4px 8px rgba(0, 0, 0,1.0)!important;
   position:absolute;
   left:290px;
   top:150px;
}
.times-of-india
{
    height:230px;
    width:300px;
   font-size: 20px;
   display:flex;
   align-items: center;
   justify-content: center;
   background-image: url("./../images/news17.jpeg");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   opacity:0.8;
   border-radius: 50%;
   box-shadow: 5px 4px 8px rgba(0, 0, 0,1.0)!important;
   position:absolute;
   left:640px;
   top:150px;
}
.the-indian-express
{
    height:230px;
    width:300px;
   font-size: 20px;
   display:flex;
   align-items: center;
   justify-content: center;
   background-image: url("./../images/news9.png");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   opacity:0.7;
   border-radius: 50%;
   box-shadow: 5px 4px 8px rgba(0, 0, 0,1.0)!important;
   position:absolute;
   left:980px;
   top:150px;
}
.one-india
{
    height:230px;
    width:300px;
   font-size: 20px;
   display:flex;
   align-items: center;
   justify-content: center;
   background-image: url("./../images/news11.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   opacity:0.7;
   border-radius: 50%;
   box-shadow: 5px 4px 8px rgba(0, 0, 0,1.0)!important;
   position:absolute;
   left:460px;
   top:390px;
}
.hindustan-times
{
    height:230px;
    width:300px;
   font-size: 20px;
   display:flex;
   align-items: center;
   justify-content: center;
   background-image: url("./../images/news18.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   opacity:0.8;
   border-radius: 50%;
   box-shadow:5px 4px 8px rgba(0, 0, 0,1.0)!important;
   position:absolute;
   left:810px;
   top:390px;
}

.clickview
{
    color:white;
    font-weight: bold;
    height:40px;
    font-size: 20px;
    text-transform: uppercase;
    position: absolute;
    bottom: 30px;
    right:40px;
    background-color: grey;
    opacity: 0.5;
    text-shadow: 3px 4px 5px black;
}
.date
{
    position: absolute;
    right:40px;
    top:30px;
    color:#4682B4;
    text-shadow: 3px 4px 5px black;
    font-size: 20px;
}
.time
{
    position: absolute;
    right:49px;
    top:55px;   
    color:#4682B4;
    text-shadow: 3px 4px 5px black;
    font-size: 20px;
}
.weatherView{
    height:200px;
    width:300px;
    background-image: url("./../images/images7.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity:0.8;
    border-radius: 50%;
    box-shadow:5px 4px 8px rgba(0, 0, 0,1.0)!important;
    position:absolute;
    left:1180px;
    top:470px;
}
